# OS
.DS_Store

# Logs
*.log
logs/

# Environment files
.env
.env.*
!.env.example
backend/.env


# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Spring Boot / Java
backend/target/
backend/uploads/
# Java compiled files
*.class